body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#mycanvas {
  position: absolute;
  z-index: -1;
}

#circle1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  left: 5%;
  top: 50%;
  display: none;
}

#circle2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  left: 95%;
  top: 50%;
  display: none;
}

#qrcode,
#qrcode2 {
  display: block;
}
